{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}

<div>
     {% if request.user.is_authenticated %}
        {% for prod in product %}
        <h1>{{ prod.shop }}</h1>
        <h2>{{ prod.name }}</h2>
        <h2>{{ prod.category }}</h2>
        <p>{% trans 'Price '%}:{{ prod.price }}</p>
        {% endfor %}
    {% else %}
        <p>{% trans 'You are not authorized on this site.' %}</p>
    {% endif %}
</div>
{% endblock %}